@{
    ViewData["Title"] = "OpenSource PackageManager for Windows to automatic update Software";
}
<style>
    textarea {
        font-family: 'Courier New';
    }

    .list-group {
        max-height: 250px;
        margin-bottom: 10px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .list-group-item {
        padding: 3px 10px
    }

    .buttonBox {
        position: absolute;
        bottom: 0;
        left: 370px;
        right: 0;
    }
</style>
<br />



@*<hr class="my-4">*@
<h1 class="hidden">free Package Manager for Windows</h1>
<h2 class="hidden">auto update software</h2>
<h2 class="hidden">opensource project on github</h2>
<div class="col-lg-12 row">
    <div class="col-4" style="width:380px;height:302px">
        <img src="~/images/RZ-Logo.png" alt="RuckZuck" title="RuckZuck package manager" />
    </div>
    <div class="col-lg-12">
        <div class=" buttonBox" style="z-index:-1">
            <h4 style="padding-bottom:25px">Software Package Manager for Windows, a quick way to install and update Software...</h4>
            <div style="padding-bottom:15px">
                <h5>Requirements:</h5>
                <div class="well well-sm col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <strong>.Net Framework 4.7 , Powershell 5</strong>
                    <small>(part of Windows 10)</small>
                    <br />
                    <strong>Note:</strong> Software is mainly tested on <strong>Windows10 x64</strong>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="col-lg-12 row">
    <hr class="my-4">
</div>

<div class="col-lg-12" style="margin-bottom:-35px;margin-top:-20px">
    @*<div class="col-lg-2" style="height:300px"></div>*@

    <h4>Downloads:</h4>
    <div class="row">
        <div class="col-md-3 form-group">
            <a href="https://github.com/rzander/ruckzuck">portable RuckZuck-Tool for Windows:</a>
            <a href="https://github.com/rzander/ruckzuck/releases/download/1.7.2.2/RuckZuck.exe" role="button" data-toggle="tooltip" title="No installation required, just run this tool..." class="btn btn-block btn-default">RuckZuck.exe</a>
            <p class="text-muted"><sup>latest version: 1.7.2.2</sup></p>
        </div>
        <div class="col-md-2 form-group">
            <a href="https://github.com/rzander/ruckzuck/wiki/RZGet">CommandLine Tool:</a>
            <a href="https://github.com/rzander/ruckzuck/releases/download/1.7.2.2/RZGet.exe" role="button" data-toggle="tooltip" title="Install or update applications from CommandLine..." class="btn btn-block btn-default">RZGet.exe</a>
            <p class="text-muted"><sup>latest version: 1.7.2.2</sup></p>
        </div>
        <div class="col-md-2 form-group">
            <a href="https://github.com/rzander/ruckzuck/wiki/RuckZuck-OneGet-Provider">OneGet Provider:</a>
            <a href="https://github.com/rzander/ruckzuck/releases/download/1.7.2.1/RuckZuck.provider.for.OneGet_x64.msi" role="button" data-toggle="tooltip" title="Install RuckZuck applications from PowerShell." class="btn btn-block btn-default">RZ4OneGet_x64.msi</a>
            <p class="text-muted"><sup>latest version: 1.7.2.1</sup></p>
        </div>
        <div class="col-md-2 form-group">
            <a href="https://rzander.azurewebsites.net/import-ruckzuck-applications-to-configuration-manager-2012">RZ for ConfigMgr:</a>
            <a href="https://github.com/rzander/ruckzuck/releases/download/1.7.1.3/RZ4ConfigMgrSetup.exe" role="button" data-toggle="tooltip" title="Import Applications from RuckZuck to Microsoft Endpoint Configuration Manager." class="btn btn-block btn-default">RZ4ConfigMgr.exe</a>
            <p class="text-muted"><sup>latest version: 1.7.1.3</sup></p>
        </div>
        <div class="col-md-2 form-group">
            <a href="https://github.com/rzander/ruckzuck/wiki/RuckZuck-for-Intune">RZ for Intune :</a>
            <a href="https://github.com/rzander/ruckzuck/releases/download/1.7.2.2/RZ4Intune.exe" role="button" data-toggle="tooltip" title="Import Applications from RuckZuck to Microsoft Intune." class="btn btn-block btn-default">RZ4Intune.exe</a>
            <p class="text-muted"><sup>latest version: 1.7.2.2</sup></p>
        </div>
    </div>
</div>
<div class="col-lg-12 row">
    <hr class="my-4">
</div>
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <h4>Latest (5) repository changes:</h4>
    <form id="fChanges">
        @foreach (var SW in ViewBag.LatestItems)
        {
            <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-1 " style="margin-right:10px">
                    <img src=@SW.IconURL width="32" height="32" alt="icon" title="@SW.Shortname" />
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="form-group" style="vertical-align:top; height:16px;">
                        <label>@SW.Shortname</label>
                        <label>@SW.Version</label>
                    </div>

                    <div class="" style="height:16px; vertical-align:top; margin-top:-15px">
                        <small style="vertical-align:top">(@SW.Date)</small>
                    </div>
                </div>
            </div>

            @*<div class="form-group row">
                    <div class="row col-lg-12">
                        <div class="col-lg-1">
                            <img src=@SW.IconURL width="32" height="32" alt="icon" title="@SW.Shortname" />
                        </div>
                        <div class="col-lg-11">
                            <div class="col-lg-12" style="vertical-align:top; height:16px">
                                <label>@SW.Shortname</label>
                                <label>@SW.Version</label>
                            </div>
                            <div class="col-lg-12" style="height:8px; vertical-align:top">
                                <small>(@SW.Date)</small>
                            </div>
                        </div>
                    </div>
                </div>*@
        }
    </form>
</div>
<div class="">
    <h4>Activities:</h4>
    @*<textarea readonly class="form-control" rows="10" id="activities"></textarea>*@
    <ul class="list-group" style="overflow-x: hidden;" id="activities"></ul>
</div>
@*<div class="alert alert-danger col-lg-12" role="alert" style="display:inline-block">
        <strong>Note:</strong> REST-API V1 (RuckZuck.exe prior 1.7.0.0) will be depreciated by end of August 2019
    </div>*@

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/msg").build();

    connection.on("Append", function (message) {
        var alist = document.getElementById('activities');
        alist.innerHTML += message.replace("%tt%", (new Date()).toLocaleTimeString('en-GB'));
        alist.scrollTop = alist.scrollHeight;
    });

    connection.on("Reload", function () {
        var fList = document.getElementById('fChanges');
        fList.innerHTML = '';
        $.ajax({
            url: '@Url.Action("ReloadLatest", "Home")',
            datatype: "json",
            success: function (data) {
                for (var iSW in data) {

                    var sDiv = `<div class="form-group row">
                    <div class="row col-lg-12">
                        <div class="col-lg-1">
                            <img src="${data[iSW].iconURL}" width="32px" height="32px" alt="icon" title="${data[iSW].shortname}" />
                        </div>
                        <div class="col-lg-11">
                            <div class="col-lg-12" style="vertical-align:top; height:16px">
                                <label>${data[iSW].shortname}</label>
                                <label>${data[iSW].version}</label>
                            </div>
                            <div class="col-lg-12" style="height:8px; vertical-align:top">
                                <small>(${data[iSW].date})</small>
                            </div>
                        </div>
                    </div>
                </div>`;
                    fList.innerHTML += sDiv;
                }
            },
        })
    });

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.toString());
        });
</script>
